__pycache__/
tabGenerator/tabGenerator/__pycache__/
*.pyc
*.egg-info/
.tox/
.coverage*
.pytest_cache/

*.mp3

data/*

app/mediafiles/*

app/upload/migrations/*
app/tab_generator/migrations/*
app/users/migrations*
.idea/*

react/node_modules/*
/venv/*

